.lampa{
  background-color: red;
  width: 90%;
  height: 90%;
}
.felkapcsolva{
  background-color: yellow !important;
}

.lampa-tarolo{
  width: 500px;
  aspect-ratio: 1/1;
  background-color: blue;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3,1fr);
}